<div class="user-list-wrap">

  <el-table :data="tableData" border>
    <!--
      el-table-tree-column
        prop 用来指定使用哪个属性展示节点名
        label 用来指定
        child-key 用来告诉组件展开的子节点使用数据中的 children 属性
        indent-size 层级的缩进大小，单位是像素
        treeKey 节点 id ，用来指定数据对象的 id 名称供组件使用
        parentKey 父id属性名
        levelKey 层级属性名
     -->
    <el-table-tree-column
      fixed :expand-all="!!!1"
      file-icon="icon icon-file"  folder-icon="icon icon-folder"
      prop="cat_name"
      treeKey="cat_id"
      parentKey="cat_pid"
      levelKey="cat_level"
      label="分类名称"
      child-key="children"
      width="320"
      :indent-size="40">
      <!-- <template slot-scope="scope">
        <span>prefix =></span>
        <span @click="text(scope)">{{scope.row.label}} -- {{scope.row.id}}</span>
        <span>
            <=suffix</span>
      </template> -->
    </el-table-tree-column>
    <el-table-column label="是否有效" width="180">
      <!-- 表格列不会输出布尔值，所以我们自己自定义表格列输出布尔值 -->
      <template slot-scope="scope">{{ scope.row.cat_deleted }}</template>
    </el-table-column>
    <el-table-column label="排序" width="180" prop="cat_level">
    </el-table-column>
    <el-table-column label="操作" width="180">
      <template slot-scope="scope">
        <el-button size="mini" type="success" plain>编辑</el-button>
        <el-button size="mini" type="danger" plain>删除</el-button>
      </template>
    </el-table-column>
</el-table>
  
</div>