<div class="user-list-wrap">
  <el-row>
    <el-col :span="24">
      <el-breadcrumb separator-class="el-icon-arrow-right" class="list-breadcrumb">
        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item>角色管理</el-breadcrumb-item>
        <el-breadcrumb-item>角色列表</el-breadcrumb-item>
      </el-breadcrumb>
    </el-col>
  </el-row>
  <!-- 搜索和添加用户 -->
  <el-row class="list-search">
    <el-col :span="24">
      <el-button type="success" plain @click="AddFormVisible=true">添加角色</el-button>
    </el-col>
  </el-row>
  <!-- 表格 -->
    <el-table
    :data="tableData"
    style="width: 100%">
    <!-- 展开列表 -->
    <el-table-column type="expand">
      <template slot-scope="scope">
        <!-- 一级权限 closable ==> 可以删除的标签-->
         <el-row 
         class="role-level1"
         v-for="item1 in scope.row.children"
         :key="item1.authName">
           <el-col :span="4">
              <el-tag
                closable 
                >{{item1.authName}}
            </el-tag>
            <i class="el-icon-arrow-right"></i>
           </el-col>
          <!-- 二级权限 -->
          <el-col :span="20">
            <el-row
            class="role-level2"
            v-for="item2 in item1.children"
            :key="item2.authName">
              <el-col :span="4">
                <el-tag
                 closable
                 type="success" 
                 >{{item2.authName}}
              </el-tag>
              <i class="el-icon-arrow-right"></i>
              </el-col>
              <!-- 三级权限 和 二级权限同出一行-->
              <el-col :span="20">
                  <el-tag
                    class="role-level3"
                    closable
                    type="danger"
                    v-for="item3 in item2.children"
                    :key="item3.authName"
                    >{{item3.authName}}
                  </el-tag>
                </el-col>
            </el-row>
           </el-col>
         </el-row>
      </template>
    </el-table-column>
    <!-- 列表项目 -->
    <el-table-column
      label="#"
      prop="id"
      type="index"
      width="50">
    </el-table-column>
    <el-table-column
      label="角色名称"
      prop="roleName">
    </el-table-column>
    <el-table-column
      label="描述"
      prop="roleDesc">
    </el-table-column>
     <!-- 操作按钮 -->
    <el-table-column label="操作" width="300">
        <!-- 编辑用户 -->
        <template slot-scope="scope">
          <el-button 
          type="primary" 
          size="mini"
          @click="handelshowEditForm(scope.row)">编辑
        </el-button>
        <!-- 删除用户 -->
          <el-button type="danger"
            size="mini"
          @click="handleDeleteRoles(scope.row)">删除
        </el-button>
        <!-- 分配权限 -->
          <el-button 
          type="warning" 
          size="mini"
          @click="handelAuthDialog(scope.row)"
          >授权</el-button>
        </template>
      </el-table-column>
  </el-table>
    <!-- 添加用户对话框 -->
    <el-dialog title="添加角色" :visible.sync="AddFormVisible">
        <el-form 
        :model="AddUserForm" 
        ref="ruleForm" 
        label-width="100px" 
        class="demo-ruleForm">
          <el-form-item label="角色名称" prop="roleName">
            <el-input v-model="AddUserForm.roleName"></el-input>
          </el-form-item>
          <el-form-item label="角色描述" prop="roleDesc">
            <el-input v-model="AddUserForm.roleDesc"></el-input>
          </el-form-item>
        </el-form>
        <!-- 创建取消按钮 -->
        <div slot="footer" class="dialog-footer">
          <el-button @click="AddFormVisible = false">取消</el-button>
          <el-button type="primary" @click="handleAddRoles()">创建</el-button>
        </div>
      </el-dialog>
       <!--  编辑用户对话框 -->
      <el-dialog title="编辑角色" :visible.sync="editFormVisible">
          <el-form 
          :model="EditRoleForm" 
          ref="ruleForm" 
          label-width="100px" 
          class="demo-ruleForm"
          >
            <el-form-item label="角色名称">
              <el-input v-model="EditRoleForm.roleName"></el-input>
            </el-form-item>
            <el-form-item label="角色描述" prop="roleDesc">
              <el-input v-model="EditRoleForm.roleDesc"></el-input>
            </el-form-item>
          </el-form>
          <!-- 创建取消按钮 -->
          <div slot="footer" class="dialog-footer">
            <el-button @click="editFormVisible = false">取消</el-button>
            <el-button type="primary" @click="handelEditRole()">编辑</el-button>
          </div>
        </el-dialog>
        <!-- ----------------------------------------------------------- -->
        <!-- 分配权限对话框 -->
        <el-dialog title="编辑权限" :visible.sync="authRoleDialog">
          <!-- 树组件内容 
          1. node-key="id" 用来指定节点的身份表示,这里指的是每一个权限的id,id绑定每一个节点的的属性
          2.":default-checked-keys" 用啦指定默认选中的的节点,这是一个数组,数组中填充node-key 指定的id,因此就会绑定每一个节点属性  id
          -->
          <el-tree
            :data="treeData"
            show-checkbox
            :props="treeProps"
            node-key="id"
            default-expand-all
            :default-checked-keys="treeCheckedKeys"
            >
          </el-tree>
          <div slot="footer" class="dialog-footer">
            <el-button @click="authRoleDialog = false">取消</el-button>
            <el-button type="primary" @click="handelAuthRole()">授权</el-button>
          </div>
        </el-dialog>
</div>
