<div class="user-list-wrap">
  <el-row>
    <!-- 面包屑导航 -->
    <el-col :span="24">
      <el-breadcrumb separator-class="el-icon-arrow-right" class="list-breadcrumb">
        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item>用户管理</el-breadcrumb-item>
        <el-breadcrumb-item>用户列表</el-breadcrumb-item>
      </el-breadcrumb>
    </el-col>
  </el-row>
  <!-- 搜索和添加用户 -->
  <el-row class="list-search">
    <el-col :span="8">
      <el-input placeholder="请输入内容" v-model="searchText" class="input-with-select">
        <el-button slot="append" icon="el-icon-search"
        @click="handleSearch()"></el-button>
      </el-input>
    </el-col>
    <el-col :span="2">
      <el-button type="success" plain @click="AddFormVisible = true">添加用户</el-button>
    </el-col>
  </el-row>
  <!-- 表格 -->
  <el-table :data="tableData" stripe style="width: 100%" class="list_table">
    <el-table-column prop="username" label="姓名" width="180"></el-table-column>
    <el-table-column prop="email" label="邮箱" width="180"></el-table-column>
    <el-table-column prop="mobile" label="电话"></el-table-column>
    <!-- 用户状态按钮 -->
    <el-table-column label="用户状态" width="100">
      <!-- 
        注:
        用到scope="scope" 是会警告报错 应当使用 slot-scope="scope" 
      -->
      <template slot-scope="scope">
        <!--  scope.row拿到当前遍历对象-->
        <el-switch 
        v-model="scope.row.mg_state"
        @change="(val) => {handleStateChange(val,scope.row)}" 
        active-color="#13ce66" 
        inactive-color="#ff4949">
      </el-switch>
      </template>
    </el-table-column>

    <!-- 操作按钮 -->
    <el-table-column label="操作" width="200">
      <!-- 编辑用户 -->
      <template slot-scope="scope">
        <el-button 
        type="primary" 
        icon="el-icon-edit" 
        size="mini"
        @click="handelshowEditForm(scope.row)">
      </el-button>
      <!-- 删除用户 -->
        <el-button type="danger"
         icon="el-icon-delete"
          size="mini"
        @click="handelDeleteUser(scope.row)">
      </el-button>
      <!-- 分配权限 -->
        <el-button 
        type="warning" 
        icon="el-icon-check" 
        size="mini"
        ></el-button>
      </template>
    </el-table-column>
  </el-table>

  <!-- 分页 -->
  <div class="block">
    <!-- 
       /*
        注:数据的更改1.(:page-sizes="[1,2,3,4]") ====> (:page-sizes="[10,20,30,40]")
           与此同时更改 2. data 中 "pageSize:10" // 每页请求的数量
       */
       ===========================================================================
       :page-sizes="[1,2,3]" ==> 显示每页几条
       :current-page.sync="currentPage" // element 的分页更改==>解决分页的BUG
      -->
    <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page.sync="currentPage"
      :page-sizes="[5,10,15]" layout="total, sizes, prev, pager, next, jumper" :total="totalSize">
    </el-pagination>
  </div>
  <!-- 4. 添加用户对话框 -->
  <el-dialog title="添加用户" :visible.sync="AddFormVisible">
    <el-form 
    :model="AddUserForm" 
    ref="ruleForm" 
    label-width="100px" 
    class="demo-ruleForm"
    :rules="addUserFormRules">
      <el-form-item label="用户名称" prop="username">
        <el-input v-model="AddUserForm.username"></el-input>
      </el-form-item>
      <el-form-item label="用户密码" prop="password">
        <el-input v-model="AddUserForm.password" type="password"></el-input>
      </el-form-item>
      <el-form-item label="用户邮箱" prop="email">
        <el-input v-model="AddUserForm.email" type="email"></el-input>
      </el-form-item>
      <el-form-item label="用户电话" prop="mobile">
        <el-input v-model="AddUserForm.mobile"></el-input>
      </el-form-item>
    </el-form>
    <!-- 创建取消按钮 -->
    <div slot="footer" class="dialog-footer">
      <el-button @click="AddFormVisible = false">取消</el-button>
      <el-button type="primary" @click="handleAddUser()">创建</el-button>
    </div>
  </el-dialog>

  <!-- 7. 编辑用户对话框 -->
  <el-dialog title="编辑用户" :visible.sync="editFormVisible">
      <el-form 
      :model="EditUserForm" 
      ref="ruleForm" 
      label-width="100px" 
      class="demo-ruleForm"
      :rules="EditUserFormRules"
      >
        <el-form-item label="用户名称">
          <el-input v-model="EditUserForm.username" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="用户邮箱" prop="email">
          <el-input v-model="EditUserForm.email" type="email"></el-input>
        </el-form-item>
        <el-form-item label="用户电话" prop="mobile">
          <el-input v-model="EditUserForm.mobile"></el-input>
        </el-form-item>
      </el-form>
      <!-- 创建取消按钮 -->
      <div slot="footer" class="dialog-footer">
        <el-button @click="editFormVisible = false">取消</el-button>
        <el-button type="primary" @click="handelEditUser()">编辑</el-button>
      </div>
    </el-dialog>
</div>
